/*
************************
* Credits & Help Text *
************************

****************************************
* writed by @dev-mojtaba (MOJTABA5858) *
****************************************

*************************************************************************************************************************************************
* PLEASE DON'T EDIT. if you want to know what this file do please read this page -> https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face *
*************************************************************************************************************************************************
*/

/* thin */
@font-face {
  font-family: "Poppins-Thin";
  src: url(./font/poppins/Poppins-Thin.ttf);
}

/* light */
@font-face {
  font-family: "Poppins-Light";
  src: url(./font/poppins/Poppins-Light.ttf);
}

/* regular */
@font-face {
  font-family: "Poppins-Regular";
  src: url(./font/poppins/Poppins-Regular.ttf);
}

/* bold */
@font-face {
  font-family: "Poppins-Bold";
  src: url(./font/poppins/Poppins-Bold.ttf);
}