@import "tailwindcss";

@utility container {
  margin-inline: auto;
}

@theme {
  /* Colors */
  --color-primary: #764ff7;
  --color-primary-light: #f4f4f4;
  --color-secondary-light: #dfdfdf;
  --color-primary-dark: #212121;
  --color-secondary-dark: #121212;
  --color-primary-input: #323235;
  --color-primary-input-text: #636366;
  --color-primary-input-text-hover: #9ca394;
  --color-primary-task-overview-border: #4b5563;
  --color-primary-button: #32d974;
  --color-primary-button-hover: #00cc84;
  --color-secondary-button: #17a2b8;
  --color-secondary-button-hover: #138496;
  --color-cancel-button: #dc3545;
  --color-cancel-button-hover: #c82333;

  /* Fonts */
  --font-ptn: "Poppins-Thin";
  --font-plt: "Poppins-Light";
  --font-prr: "Poppins-Regular";
  --font-pbd: "Poppins-Bold";

  /* Screens (Breakpoints) */
  --breakpoint-xs: 30rem;
  --breakpoint-2xs: 22.5rem;

  /* Animates */
  --animate-task-done: task-done 1s ease-in-out 1;
  --animate-tick: tick 1s ease-in-out 1 forwards;

  @keyframes task-done {
    0% {
      box-shadow: var(--drop-shadow-md);
      transform: translateY(0) scale(1);
    }

    85% {
      box-shadow: var(--drop-shadow-md);
      transform: translateY(6px) scale(102.5%);
    }

    90% {
      box-shadow: var(--drop-shadow-md);
      transform: translateY(0) scale(1);
    }

    95% {
      box-shadow: var(--drop-shadow-md);
      transform: translateY(2px) scale(100.5%);
    }

    100% {
      box-shadow: var(--drop-shadow-none);
      transform: translateY(0) scale(1);
    }
  }

  @keyframes tick {
    0% {
      fill: transparent;
      stroke-dashoffset: 50;
    }

    80% {
      fill: transparent;
    }

    100% {
      fill: light-dark(var(--color-primary-dark), var(--color-primary-light));
      stroke-dashoffset: 0;
    }
  }
}

@utility forward-child-bluriness {
  + * {
    filter: blur(3px);
  }

  + * + * {
    filter: blur(4px);
  }

  + * + * + * {
    filter: blur(5px);
  }

  + * + * + * + * {
    filter: blur(6px);
  }

  + * + * + * + * + * {
    filter: blur(7px);
  }
}

@utility tick-dash-offset-array {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
}

@utility crossed-line {
  position: absolute;
  inset-block: calc(var(--spacing) * 0);
  margin-block: auto;
  height: fit-content;
  border-bottom-width: 2px;
  border-bottom-color: light-dark(
    var(--color-primary-dark),
    var(--color-primary-light)
  );
  transform: translateY(1px);
}

@utility add-task {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 2px;
  height: 16px;
  background-color: light-dark(
    var(--color-primary-dark),
    var(--color-primary-light)
  );
  border-radius: var(--radius-sm);
}

@utility modal-task-examine-lock {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: not-allowed;
}
